#seccion_1 {
    background-color: #F2C1AE;
}

.carousel img {
    width: 100%;
    
}
.carousel {
    display: flex;
}

.cabezal {
    display: flex;
    justify-content: center;
}

.cabezal li {
    display: inline;
    cursor: pointer;
}

.slide.active svg circle{
    fill: #F28888;
}

.slide svg circle {
    fill: #F2C1AE;
}

#izquierda {
    position: absolute;
    width: max-content;
    height: max-content;
    z-index: 1;
    color: #F2F2F2;
    font-size: 2em;
    align-self: center;
    margin-left: 20px;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 20px;
}

#derecha {
    position: absolute;
    width: max-content;
    height: max-content;
    z-index: 1;
    color: #F2F2F2;
    font-size: 2em;
    align-self: center;
    margin-left: calc(100% - 80px);
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 25px;
}

#izquierda:hover {
    background-color: #f2f2f234;
    border-radius: 50%;
}

#derecha:hover {
    background-color: #f2f2f234;
    border-radius: 50%;
}

#titulo_principal {
    /* posicion */
    position: absolute;
    
    margin-bottom: 100px;
    
    z-index: 1;
    

    /* texto */
    color: rgb(191, 94, 73);
    background-color: #F2F2F2;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: 300;

    /* box model */
    padding: 0rem 1rem 0rem 1rem;
    margin-left: 5%;
    margin-top: 25%;


    /*tamaño*/
    width: max-content;
    height: 4vw;
}


