.contenedor {
    /* flex degin */
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items:flex-start;
    justify-content: center;

    /* background design */
    background-color:#F28888;
    
    /* text design */
    color:#F2F2F2;
}

.paola {
    width: 300px;
    padding: 20px;
}

.telefonos {
    padding: 20px;
}

.direccion {
    padding: 20px;
}


@media only screen and (max-width: 768px) {
    .contenedor {
        /* flex degin */
        flex-direction: column;
    }
}